################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SweetChef/.vs
/SweetChef/SweetChef/bin/Debug/netcoreapp2.1
/SweetChef/SweetChef/obj/Debug/netcoreapp2.1/Razor/Views/Home
/SweetChef/SweetChef/obj/Debug/netcoreapp2.1/Razor/Views/Shared

SweetChef/SweetChef/obj/
