@{
    ViewData["Title"] = "Definições de utilizador";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<script>
    // etiquetas
    $.getJSON("/api/Tag", (data) => {
        for (const etiqueta of data) {

            let etiquetaElement = $($("#etiquetaTemplatePref").html());
            window.etiquetaPref = etiquetaElement;
            etiquetaElement.find(".etiquetaNome").text(etiqueta.tag1);
            etiquetaElement.find(".checkEtiqueta").attr("id", "etiquetaPref" + etiqueta.id);
            etiquetaElement.find(".labelEtiqueta").attr("for", "etiquetaPref" + etiqueta.id);
            etiquetaElement.appendTo("#etiquetasMenuPref");
            
            etiquetaElement = $($("#etiquetaTemplateExc").html());
            window.etiqueta = etiquetaElement;
            etiquetaElement.find(".etiquetaNome").text(etiqueta.tag1);
            etiquetaElement.find(".checkEtiqueta").attr("id", "etiquetaExc" + etiqueta.id);
            etiquetaElement.find(".labelEtiqueta").attr("for", "etiquetaExc" + etiqueta.id);
            etiquetaElement.appendTo("#etiquetasMenuExc");
            
        }
    });

</script>

<h4>Preferências das sugestões</h4>
<div class="container">
    <div class="row">
        <div class="col">
            <h6>Etiquetas preferidas:</h6>
            <div style="height:7em" class="overflow-auto border p-1" id="etiquetasMenuPref">

                <template id="etiquetaTemplatePref">
                    <div class="form-check">
                        <input class="form-check-input checkEtiqueta" type="checkbox" value="">
                        <label class="form-check-label labelEtiqueta">
                            <span class="etiquetaNome"></span>
                        </label>
                    </div>
                </template>

            </div>
        </div>
        <div class="col">
            <h6>Etiquetas excluidas:</h6>
            <div style="height:7em" class="overflow-auto border p-1" id="etiquetasMenuExc">

                <template id="etiquetaTemplateExc">
                    <div class="form-check">
                        <input class="form-check-input checkEtiqueta" type="checkbox" value="">
                        <label class="form-check-label labelEtiqueta">
                            <span class="etiquetaNome"></span>
                        </label>
                    </div>
                </template>

            </div>
        </div>
        <div class="col">
            <h6>Ingredientes excluídos:</h6>
            <div style="height:7em" class="overflow-auto border p-1">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="ingExcCheck1">
                    <label class="form-check-label" for="ingExcCheck1">
                        Default checkbox
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="ingExcCheck2">
                    <label class="form-check-label" for="ingExcCheck2">
                        Default checkbox
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row mt-3">
        <label for="inputClassMin" class="col-sm-2 col-form-label">Classificação mínima</label>
        <div class="col-sm-1">
            <input type="number" min ="0" max="5" class="form-control" id="inputClassMin" placeholder="Classificação">
        </div>
    </div>
</div>

<hr/>

<h4>Ajuda</h4>
<div class="container">
    <a asp-area="" asp-controller="Home" asp-action="Tutorial" class="btn btn-primary mt-3">Tutorial</a>
</div>
    <hr />

    <a asp-area="" asp-controller="Home" asp-action="" class="btn btn-danger mt-3">Sair</a>
