@{
    ViewData["Title"] = "Cozinhar";
}
<h2>@ViewData["Title"]</h2>

<style>
    .dropdown-placeholder.dropdown-toggle::after {
        position: absolute;
        margin: 0.655em;
        right: 0;
    }

    .card-img-top {
        height: 9em;
    }

    .horizontal-scroll {
        overflow-y: hidden;
        overflow-x: auto;
    }

    .receita {
        padding-right: 1em;
        padding-left: 1em;
    }

        .receita > .card {
            width: 16em;
        }

    .fav-icon {
        position: absolute;
        right: 0.5em;
        top: 0.5em;
    }

    .horizontal-scroll::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    .horizontal-scroll::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }

    .horizontal-scroll::-webkit-scrollbar-thumb {
        background: #e1e1e1;
        border: 0px none #000;
        border-radius: 50px;
    }

        .horizontal-scroll::-webkit-scrollbar-thumb:hover {
            background: #666;
        }

        .horizontal-scroll::-webkit-scrollbar-thumb:active {
            background: #666;
        }

    .horizontal-scroll::-webkit-scrollbar-track {
        background: transparent;
        border: 0px none #000;
        border-radius: 50px;
    }

        .horizontal-scroll::-webkit-scrollbar-track:hover {
            background: transparent;
        }

        .horizontal-scroll::-webkit-scrollbar-track:active {
            background: #ddd;
        }

    .horizontal-scroll::-webkit-scrollbar-corner {
        background: transparent;
    }
</style>

<script>
    $(function () {

        // etiquetas
        $.getJSON("/api/Tag", (data) => {
            for (const etiqueta of data) {
                let etiquetaElement = $($("#etiquetaTemplate").html());
                window.etiqueta = etiquetaElement;
                etiquetaElement.find(".etiquetaNome").text(etiqueta.nome);
                etiquetaElement.find(".checkEtiqueta").attr("id", "etiqueta" + etiqueta.id);
                etiquetaElement.find(".labelEtiqueta").attr("for", "etiqueta" + etiqueta.id);

                etiquetaElement.appendTo("#etiquetasMenu");
            }
        });



        const dificuldadeTexto = [, "Fácil", "Médio", "Difícil"];
        const dificuldadeColor = [, "success", "warning", "danger"];

        function gerarReceita() {
            return $($("#receitaTemplate").html());
        }

        // receitas
        // favoritas
        $.getJSON("/api/Utilizador/favoritas", (data) => {
            for (const { receita } of data) {
                console.log(receita)
                let receitaElement = gerarReceita();
                window.receita = receitaElement;
                receitaElement.find(".receitaNome").text(receita.nome);
                receitaElement.find(".receitaImagem").attr("src", receita.imagemLink);
                receitaElement.find(".receitaDificuldade").addClass("text-" + dificuldadeColor[receita.dificuldade]);
                receitaElement.find(".receitaDificuldadeTexto").text(dificuldadeTexto[receita.dificuldade]);
                receitaElement.find(".receitaTempo").text(receita.tempodepreparacao);
                receitaElement.find(".receitaLink").attr("href", `@Url.Action("Receita", "Home")/${receita.id}`);
                receitaElement.appendTo("#favoritosRow");
            }
            $(".receitasPlaceholder").remove();
        });

        // sugestões
        $.getJSON("/api/Receita/recomendadas", (data) => {
            for (const receita of data) {
                let receitaElement = gerarReceita();
                window.receita = receitaElement;
                receitaElement.find(".receitaNome").text(receita.nome);
                receitaElement.find(".receitaImagem").attr("src", receita.imagemLink);
                receitaElement.find(".receitaDificuldade").addClass("text-" + dificuldadeColor[receita.dificuldade]);
                receitaElement.find(".receitaDificuldadeTexto").text(dificuldadeTexto[receita.dificuldade]);
                receitaElement.find(".receitaTempo").text(receita.tempodepreparacao);
                receitaElement.find(".receitaLink").attr("href", `@Url.Action("Receita", "Home")/${receita.id}`);
                receitaElement.appendTo("#favoritosRow");
            }
            $(".receitasPlaceholder").remove();
        });

        // pesquisa
        $.getJSON("/api/Receita/recomendadas", (data) => {
            for (const receita of data) {
                let receitaElement = gerarReceita();
                window.receita = receitaElement;
                receitaElement.find(".receitaNome").text(receita.nome);
                receitaElement.find(".receitaImagem").attr("src", receita.imagemLink);
                receitaElement.find(".receitaDificuldade").addClass("text-" + dificuldadeColor[receita.dificuldade]);
                receitaElement.find(".receitaDificuldadeTexto").text(dificuldadeTexto[receita.dificuldade]);
                receitaElement.find(".receitaTempo").text(receita.tempodepreparacao);
                receitaElement.find(".receitaLink").attr("href", `@Url.Action("Receita", "Home")/${receita.id}`);
                receitaElement.appendTo("#favoritosRow");
            }
            $(".receitasPlaceholder").remove();
        });

    });
</script>


<!-- Procurar Receita -->
<form class="form-inline my-2 my-lg-0 form-row">
    <input class="form-control mx-sm-2 col-9 col-sm-6 col-md-4 col-lg-3" type="search" placeholder="Receita" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Procurar <i class="fas fa-search"></i></button>
</form>

<div class="row">
    <!-- dropdown Etiqueta -->
    <div class="col-6 col-md-4 col-lg-3">
        <div class="btn-group my-2 w-100">
            <button class="btn btn-secondary btn-sm dropdown-toggle dropdown-placeholder text-truncate w-100" type="button" id="dropdownEtiqueta" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Etiqueta
            </button>
            <div class="dropdown-menu w-100 overflow-auto" style="height: 10em" aria-labelledby="dropdownEtiqueta" id="etiquetasMenu">

                <template id="etiquetaTemplate">
                    <div class="form-check dropdown-item">
                        <input class="form-check-input checkEtiqueta" type="checkbox" value="">
                        <label class="form-check-label labelEtiqueta">
                            <span class="etiquetaNome"></span>
                        </label>
                    </div>
                </template>

            </div>
        </div>
    </div>

    <!-- dropdown Dificuldade -->
    <div class="col-6 col-md-4 col-lg-3">
        <div class="btn-group my-2 w-100">
            <button class="btn btn-secondary btn-sm dropdown-toggle dropdown-placeholder text-truncate w-100" type="button" id="dropdownDificuldade" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dificuldade
            </button>
            <div class="dropdown-menu w-100" aria-labelledby="dropdownDificuldade">
                <div class="form-check dropdown-item">
                    <input class="form-check-input" type="checkbox" value="" id="checkFacil">
                    <label class="form-check-label" for="checkFacil">
                        Fácil
                    </label>
                </div>
                <div class="form-check dropdown-item">
                    <input class="form-check-input" type="checkbox" value="" id="checkMedio">
                    <label class="form-check-label" for="checkMedio">
                        Médio
                    </label>
                </div>
                <div class="form-check dropdown-item">
                    <input class="form-check-input" type="checkbox" value="" id="checkDificil">
                    <label class="form-check-label" for="checkDificil">
                        Difícil
                    </label>
                </div>
            </div>
        </div>
    </div>

    <!-- toggle inicial -->
    <div class="col-6 col-md-4 col-lg-2">
        <a href="#" class="btn btn-secondary btn-sm active my-2" role="button" aria-pressed="true">Favoritos e Sugestões</a>
    </div>

</div>

<hr />

<template id="receitaTemplate">
    <div class="receita">
        <div class="card">
            <img class="card-img-top receitaImagem">
            <i class="fas fa-star text-warning fav-icon"></i>
            <div class="card-body">
                <h5 class="card-title text-center text-truncate receitaNome"></h5>
                <div class="row text-black-50 text-center">
                    <div class="col receitaDificuldade">
                        <i class="fas fa-signal"></i>
                        <span class="receitaDificuldadeTexto"></span>
                    </div>
                    <div class="col">
                        <i class="far fa-clock"></i>
                        <span class="receitaTempo"></span>&nbsp;min
                    </div>
                    <a class="stretched-link receitaLink"></a>
                </div>
            </div>
        </div>
    </div>
</template>

<h2>Favoritos <i class="fas fa-star text-warning"></i></i></h2>
<div class="container-fluid horizontal-scroll py-2">
    <div class="row flex-row flex-nowrap" id="favoritosRow">

        <!-- preenchido com receitaTemplate -->

        <div class="receitasPlaceholder">
            <div class="receita">
                <div class="card">
                    <img class="card-img-top receitaImagem bg-light">
                    <div class="card-body">
                        <h5 class="card-title text-center text-truncate receitaNome"></h5>
                        <div class="row text-black-50 text-center">
                            <div class="col receitaDificuldade">
                                <i class="fas fa-signal"></i>
                            </div>
                            <div class="col">
                                <i class="far fa-clock"></i>
                            </div>
                            <a class="stretched-link receitaLink"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="my-2">
    <h2>Sugestões</h2>
</div>
<div class="container-fluid horizontal-scroll py-2">
    <div class="row flex-row flex-nowrap" id="sugestoesRow">

        <!-- preenchido com receitaTemplate -->

        <div class="receitasPlaceholder">
            <div class="receita">
                <div class="card">
                    <img class="card-img-top receitaImagem bg-light">
                    <div class="card-body">
                        <h5 class="card-title text-center text-truncate receitaNome"></h5>
                        <div class="row text-black-50 text-center">
                            <div class="col receitaDificuldade">
                                <i class="fas fa-signal"></i>
                            </div>
                            <div class="col">
                                <i class="far fa-clock"></i>
                            </div>
                            <a class="stretched-link receitaLink"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
