@{
    ViewData["Title"] = "Cozinhar";
}
<h2>@ViewData["Title"]</h2>

<style>
    .dropdown-placeholder.dropdown-toggle::after {
        position: absolute;
        margin: 0.655em;
        right: 0;
    }

    .horizontal-scroll {
        overflow-y: hidden;
        overflow-x: auto;
    }

    .card-img-top {
        height: 9em;
    }

    .receita {
        padding-right: 1em;
        padding-left: 1em;
    }

        .receita > .card {
            width: 16em;
        }

    .fav-icon {
        position: absolute;
        right: 0.5em;
        top: 0.5em;
    }

    .horizontal-scroll::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    .horizontal-scroll::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }

    .horizontal-scroll::-webkit-scrollbar-thumb {
        background: #e1e1e1;
        border: 0px none #000;
        border-radius: 50px;
    }

        .horizontal-scroll::-webkit-scrollbar-thumb:hover {
            background: #666;
        }

        .horizontal-scroll::-webkit-scrollbar-thumb:active {
            background: #666;
        }

    .horizontal-scroll::-webkit-scrollbar-track {
        background: transparent;
        border: 0px none #000;
        border-radius: 50px;
    }

        .horizontal-scroll::-webkit-scrollbar-track:hover {
            background: transparent;
        }

        .horizontal-scroll::-webkit-scrollbar-track:active {
            background: #ddd;
        }

    .horizontal-scroll::-webkit-scrollbar-corner {
        background: transparent;
    }
</style>

<script>
    $(function () {

        // etiquetas
        $.getJSON("/api/Tag", (data) => {
            for (const etiqueta of data) {
                let etiquetaElement = $($("#etiquetaTemplate").html());
                etiquetaElement.find(".etiquetaNome").text(etiqueta.nome);
                etiquetaElement.find(".checkEtiqueta").attr("id", "etiqueta" + etiqueta.id);
                etiquetaElement.find(".checkEtiqueta").attr("value", etiqueta.id);
                etiquetaElement.find(".labelEtiqueta, .etiquetaNome").attr("for", "etiqueta" + etiqueta.id);

                etiquetaElement.appendTo("#etiquetasMenu");
            }
            $(".dropdown-placeholder + .dropdown-menu .dropdown-item input").on("change", function () {
                let valores = [];
                $(this).parents(".dropdown-placeholder + .dropdown-menu").find("input").each(function () {
                    if ($(this).prop("checked")) {
                        valores.push($(this).siblings("label").text().trim());
                    }
                });
                let placeholder = $(this).parents(".dropdown-placeholder + .dropdown-menu").siblings(".dropdown-placeholder");
                if (!placeholder.data("default")) {
                    placeholder.data("default", placeholder.text());
                }
                placeholder.text(valores.join(", ").trim() || placeholder.data("default"));
            });
        });

        $("#inicial").click((e) => {
            e.preventDefault();
            $(".inicial").removeClass("d-none");
            $("#inicial").addClass("d-none");
            $("#semResultados").addClass("d-none");
            $("#pesquisaGroup").addClass("d-none");
        })


        const dificuldadeTexto = [, "Fácil", "Médio", "Difícil"];
        const dificuldadeColor = [, "success", "warning", "danger"];

        function gerarReceita() {
            return $($("#receitaTemplate").html());
        }

        // receitas
        $("#pesquisa").on("submit", function () {
            $.getJSON("/api/Receita/filtradas?" + $(this).serialize(), (data) => {
                $("#pesquisaRow").html("");

                if (data.length == 0) {
                    $("#semResultados").removeClass("d-none");
                    return;
                }

                for (const receita of data) {
                    let receitaElement = gerarReceita();
                    window.receita = receitaElement;
                    receitaElement.find(".receitaNome").text(receita.nome);
                    receitaElement.find(".receitaImagem").attr("src", receita.imagemLink);
                    receitaElement.find(".receitaDificuldade").addClass("text-" + dificuldadeColor[receita.dificuldade]);
                    receitaElement.find(".receitaDificuldadeTexto").text(dificuldadeTexto[receita.dificuldade]);
                    receitaElement.find(".receitaTempo").text(receita.tempodepreparacao);
                    receitaElement.find(".receitaLink").attr("href", `@Url.Action("Receita", "Home")/${receita.id}`);
                    receitaElement.appendTo("#pesquisaRow");
                }
                $("#semResultados").addClass("d-none");
                $("#pesquisaGroup").removeClass("d-none");
                $(".inicial").addClass("d-none");
                $("#inicial").removeClass("d-none");
            });
            return false;
        });



        // favoritas
        $.getJSON("/api/Utilizador/favoritas", (data) => {
            if (data.length == 0) {
                $("#favoritosGroup").remove();
                return;
            }
            for (const receita of data) {
                let receitaElement = gerarReceita();
                window.receita = receitaElement;
                receitaElement.find(".receitaNome").text(receita.nome);
                receitaElement.find(".receitaImagem").attr("src", receita.imagemLink);
                receitaElement.find(".receitaDificuldade").addClass("text-" + dificuldadeColor[receita.dificuldade]);
                receitaElement.find(".receitaDificuldadeTexto").text(dificuldadeTexto[receita.dificuldade]);
                receitaElement.find(".receitaTempo").text(receita.tempodepreparacao);
                receitaElement.find(".receitaLink").attr("href", `@Url.Action("Receita", "Home")/${receita.id}`);
                receitaElement.appendTo("#favoritosRow");
            }
            $("#favoritosGroup").removeClass("d-none");
        });

        // sugestões
        $.getJSON("/api/Receita/recomendadas", (data) => {
            if (data.length == 0) {
                $("#sugestoesGroup").remove();
                return;
            }
            for (const receita of data) {
                let receitaElement = gerarReceita();
                window.receita = receitaElement;
                receitaElement.find(".receitaNome").text(receita.nome);
                receitaElement.find(".receitaImagem").attr("src", receita.imagemLink);
                receitaElement.find(".receitaDificuldade").addClass("text-" + dificuldadeColor[receita.dificuldade]);
                receitaElement.find(".receitaDificuldadeTexto").text(dificuldadeTexto[receita.dificuldade]);
                receitaElement.find(".receitaTempo").text(receita.tempodepreparacao);
                receitaElement.find(".receitaLink").attr("href", `@Url.Action("Receita", "Home")/${receita.id}`);
                receitaElement.appendTo("#sugestoesRow");
            }
            $("#sugestoesGroup").removeClass("d-none");
        });

        // descoberta
        $.getJSON("/api/Receita/descoberta", (data) => {
            if (data.length == 0) {
                $("#descobertasGroup").remove();
                return;
            }
            for (const receita of data) {
                let receitaElement = gerarReceita();
                window.receita = receitaElement;
                receitaElement.find(".receitaNome").text(receita.nome);
                receitaElement.find(".receitaImagem").attr("src", receita.imagemLink);
                receitaElement.find(".receitaDificuldade").addClass("text-" + dificuldadeColor[receita.dificuldade]);
                receitaElement.find(".receitaDificuldadeTexto").text(dificuldadeTexto[receita.dificuldade]);
                receitaElement.find(".receitaTempo").text(receita.tempodepreparacao);
                receitaElement.find(".receitaLink").attr("href", `@Url.Action("Receita", "Home")/${receita.id}`);
                receitaElement.appendTo("#descobertasRow");
            }
            $("#descobertasGroup").removeClass("d-none");
        });

        // tendencias
        $.getJSON("/api/Receita/tendencias", (data) => {
            for (const receita of data) {
                if (data.length == 0) return;
                let receitaElement = gerarReceita();
                window.receita = receitaElement;
                receitaElement.find(".receitaNome").text(receita.nome);
                receitaElement.find(".receitaImagem").attr("src", receita.imagemLink);
                receitaElement.find(".receitaDificuldade").addClass("text-" + dificuldadeColor[receita.dificuldade]);
                receitaElement.find(".receitaDificuldadeTexto").text(dificuldadeTexto[receita.dificuldade]);
                receitaElement.find(".receitaTempo").text(receita.tempodepreparacao);
                receitaElement.find(".receitaLink").attr("href", `@Url.Action("Receita", "Home")/${receita.id}`);
                receitaElement.appendTo("#tendenciasRow");
            }
            $("#tendenciasGroup").removeClass("d-none");
        });

        $(".checkbox-one").on("change", function () {
            let group = $(this).data("group");
            let checked = $(this).prop("checked");
            $(`.checkbox-one[data-group="${group}"]`).prop("checked", false);
            console.log($(`.checkbox-one[data-group="${group}"]`));
            $(this).prop("checked", checked);
        });
    });
</script>


<!-- Procurar Receita -->
<form id="pesquisa">
    <div class="form-inline my-2 my-lg-0 form-row">
        <input name="str" class="form-control mx-sm-2 col-9 col-sm-6 col-md-4 col-lg-3" type="search" placeholder="Receita" aria-label="Search">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Procurar <i class="fas fa-search"></i></button>
    </div>

    <!-- template etiqueta -->
    <template id="etiquetaTemplate">
        <label class="form-check dropdown-item labelEtiqueta">
            <input class="form-check-input checkEtiqueta" type="checkbox" name="tags">
            <label class="etiquetaNome"></label>
        </label>
    </template>

    <!-- opções de pesquisa -->
    <div class="row">
        <!-- dropdown Etiqueta -->
        <div class="col-6 col-md-4 col-lg-3">
            <div class="btn-group my-2 w-100">
                <button class="btn btn-secondary btn-sm dropdown-toggle dropdown-placeholder text-truncate w-100" type="button" id="dropdownEtiqueta" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Etiqueta
                </button>
                <div class="dropdown-menu w-100 overflow-auto" style="height: 10em" aria-labelledby="dropdownEtiqueta" id="etiquetasMenu">

                    <!-- preenchido com template etiqueta -->

                </div>
            </div>
        </div>

        <!-- dropdown Dificuldade -->
        <div class="col-6 col-md-4 col-lg-3">
            <div class="btn-group my-2 w-100">
                <button class="btn btn-secondary btn-sm dropdown-toggle dropdown-placeholder text-truncate w-100" type="button" id="dropdownDificuldade" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dificuldade
                </button>
                <div class="dropdown-menu w-100" aria-labelledby="dropdownDificuldade">
                    <label class="form-check dropdown-item" for="checkFacil">
                        <input class="form-check-input checkbox-one" data-group="dificuldade" type="checkbox" value="1" id="checkFacil" name="dif">
                        <label class="form-check-label" for="checkFacil">
                            Fácil
                        </label>
                    </label>
                    <label class="form-check dropdown-item" for="checkMedio">
                        <input class="form-check-input checkbox-one" data-group="dificuldade" type="checkbox" value="2" id="checkMedio" name="dif">
                        <label class="form-check-label" for="checkMedio">
                            Médio
                        </label>
                    </label>
                    <label class="form-check dropdown-item" for="checkDificil">
                        <input class="form-check-input checkbox-one" data-group="dificuldade" type="checkbox" value="3" id="checkDificil" name="dif">
                        <label class="form-check-label" for="checkDificil">
                            Difícil
                        </label>
                    </label>
                </div>
            </div>
        </div>

        <!-- dropdown Tempo Máximo -->
        <div class="col-6 col-md-4 col-lg-3">
            <div class="btn-group my-2 w-100">
                <button class="btn btn-secondary btn-sm dropdown-toggle dropdown-placeholder text-truncate w-100" type="button" id="dropdownTempo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tempo Máximo
                </button>
                <div class="dropdown-menu w-100" aria-labelledby="dropdownTempo">
                    <label class="form-check dropdown-item" for="checkRapidas">
                        <input class="form-check-input checkbox-one" data-group="tempo" type="checkbox" value="15" id="checkRapidas" name="dur">
                        <label class="form-check-label" for="checkRapidas">
                            Rápidas (até 15 minutos)
                        </label>
                    </label>
                    <label class="form-check dropdown-item" for="checkMedias">
                        <input class="form-check-input checkbox-one" data-group="tempo" type="checkbox" value="30" id="checkMedias" name="dur">
                        <label class="form-check-label" for="checkMedias">
                            Médias (até 30 minutos)
                        </label>
                    </label>
                    <label class="form-check dropdown-item" for="checkLongas">
                        <input class="form-check-input checkbox-one" data-group="tempo" type="checkbox" value="60" id="checkLongas" name="dur">
                        <label class="form-check-label" for="checkLongas">
                            Longas (até 60 minutos)
                        </label>
                    </label>
                </div>
            </div>
        </div>

        <!-- toggle inicial -->
        <div class="col-6 col-md-4 col-lg-2">
            <button id="inicial" class="btn btn-secondary btn-sm my-2 d-none">Mostrar página inicial</button>
        </div>

    </div>
</form>



<hr />

<!-- template receita -->
<template id="receitaTemplate">
    <div class="receita">
        <div class="card">
            <img class="card-img-top receitaImagem">
            <div class="card-body">
                <h5 class="card-title text-center text-truncate receitaNome"></h5>
                <div class="row text-black-50 text-center">
                    <div class="col receitaDificuldade">
                        <i class="fas fa-signal"></i>
                        <span class="receitaDificuldadeTexto"></span>
                    </div>
                    <div class="col">
                        <i class="far fa-clock"></i>
                        <span class="receitaTempo"></span>&nbsp;min
                    </div>
                    <a class="stretched-link receitaLink"></a>
                </div>
            </div>
        </div>
    </div>
</template>


<!-- favoritos -->
<div id="favoritosGroup" class="mb-2 d-none inicial">
    <h2>Favoritas <i class="fas fa-star text-warning"></i></h2>
    <div class="container-fluid horizontal-scroll py-2">
        <div class="row flex-row flex-nowrap" id="favoritosRow">

            <!-- preenchido com receitaTemplate -->

        </div>
    </div>
</div>

<!-- sugestoes -->
<div id="sugestoesGroup" class="mb-2 d-none inicial">
    <h2>Sugeridas  <i class="fas fa-lightbulb text-primary"></i></h2>
    <div class="container-fluid horizontal-scroll py-2">
        <div class="row flex-row flex-nowrap" id="sugestoesRow">

            <!-- preenchido com receitaTemplate -->

        </div>
    </div>
</div>

<!-- relacionadas -->
<div id="descobertasGroup" class="mb-2 d-none inicial">
    <h2>Relacionadas <i class="fas fa-globe-europe text-success"></i></h2>
    <div class="container-fluid horizontal-scroll py-2">
        <div class="row flex-row flex-nowrap" id="descobertasRow">

            <!-- preenchido com receitaTemplate -->

        </div>
    </div>
</div>

<!-- tendencias -->
<div id="tendenciasGroup" class="mb-2 d-none inicial">
    <h2>Tendências <i class="fas fa-fire text-danger"></i></h2>
    <div class="container-fluid horizontal-scroll py-2">
        <div class="row flex-row flex-nowrap" id="tendenciasRow">

            <!-- preenchido com receitaTemplate -->

        </div>
    </div>
</div>

<!-- resultados da pesquisa -->
<div id="pesquisaGroup" class="mb-2 d-none">
    <span id="semResultados" class="d-none">Nenhum resultado encontrado</span>
    <div class="container-fluid horizontal-scroll py-2">
        <div class="row flex-row flex-nowrap" id="pesquisaRow">

            <!-- preenchido com receitaTemplate -->

        </div>
    </div>
</div>