@{
    ViewData["Title"] = "Cozinhar";
}
<h2>@ViewData["Title"]</h2>

<style>
    .card-img-top {
        height: 150px;
    }

    .horizontal-scroll {
        overflow-y: hidden;
        overflow-x: auto;
    }

    .receita {
        padding-right: 15px;
        padding-left: 15px;
    }

        .receita > .card {
            width: 250px;
        }

    .horizontal-scroll::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    .horizontal-scroll::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }

    .horizontal-scroll::-webkit-scrollbar-thumb {
        background: #e1e1e1;
        border: 0px none #000;
        border-radius: 50px;
    }

        .horizontal-scroll::-webkit-scrollbar-thumb:hover {
            background: #666;
        }

        .horizontal-scroll::-webkit-scrollbar-thumb:active {
            background: #666;
        }

    .horizontal-scroll::-webkit-scrollbar-track {
        background: transparent;
        border: 0px none #000;
        border-radius: 50px;
    }

        .horizontal-scroll::-webkit-scrollbar-track:hover {
            background: transparent;
        }

        .horizontal-scroll::-webkit-scrollbar-track:active {
            background: #ddd;
        }

    .horizontal-scroll::-webkit-scrollbar-corner {
        background: transparent;
    }
</style>

<form class="form-inline my-2 my-lg-0 form-row">
    <input class="form-control mx-sm-2 col-9 col-sm-6 col-md-4 col-lg-3" type="search" placeholder="Receita" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Procurar</button>
</form>



<div class="row">
    <div class="col-6 col-md-4 col-lg-3">
        <div class="btn-group my-2 w-100">
            <button class="btn btn-secondary btn-sm dropdown-toggle dropdown-placeholder text-truncate w-100" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Etiqueta 1
            </button>
            <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
        <div class="btn-group my-2 w-100">
            <button class="btn btn-secondary btn-sm dropdown-toggle dropdown-placeholder text-truncate w-100" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Etiqueta 2
            </button>
            <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton2">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
</div>
<hr />
<h2>Popular <i class="fas fa-fire text-danger"></i></h2>
<div class="container-fluid horizontal-scroll py-2">
    <div class="row flex-row flex-nowrap">
        <div class="receita">
            <div class="card">
                <img class="card-img-top" src="https://pt.rc-cdn.community.thermomix.com/recipeimage/wfyc82g5-5b66a-158943-cfcd2-d8ynfdz2/b71b90ce-4969-416a-ac17-d57400a577b9/main/bolo-de-arroz.jpg" alt="Bolo de arroz">
                <div class="card-body">
                    <h5 class="card-title text-center text-truncate">Bolo de arroz</h5>
                    <div class="row text-black-50 text-center">
                        <div class="col text-success">
                            <i class="fas fa-signal"></i>
                            <span>Fácil</span>
                        </div>
                        <div class="col">
                            <i class="far fa-clock"></i>
                            <span>30 min</span>
                        </div>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="receita">
            <div class="card">
                <img class="card-img-top" src="https://ichef.bbci.co.uk/food/ic/food_16x9_832/recipes/salted_dark_chocolate_16338_16x9.jpg" alt="Bolo de chocolate">
                <div class="card-body">
                    <h5 class="card-title text-center text-truncate">Bolo de chocolate</h5>
                    <div class="row text-black-50 text-center">
                        <div class="col text-warning">
                            <i class="fas fa-signal"></i>
                            <span>Médio</span>
                        </div>
                        <div class="col">
                            <i class="far fa-clock"></i>
                            <span>30 min</span>
                        </div>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="receita">
            <div class="card">
                <img class="card-img-top" src="https://images-gmi-pmc.edge-generalmills.com/817d708a-33e6-46f7-b985-0360b6c55cf4.jpg" alt="Brownies">
                <div class="card-body">
                    <h5 class="card-title text-center text-truncate">Brownies</h5>
                    <div class="row text-black-50 text-center">
                        <div class="col text-danger">
                            <i class="fas fa-signal"></i>
                            <span>Díficil</span>
                        </div>
                        <div class="col">
                            <i class="far fa-clock"></i>
                            <span>30 min</span>
                        </div>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h2>Favoritos <i class="far fa-star text-warning"></i></h2>
<div class="container-fluid horizontal-scroll py-2">
    <div class="row flex-row flex-nowrap">
        <div class="receita">
            <div class="card">
                <img class="card-img-top" src="https://pt.rc-cdn.community.thermomix.com/recipeimage/wfyc82g5-5b66a-158943-cfcd2-d8ynfdz2/b71b90ce-4969-416a-ac17-d57400a577b9/main/bolo-de-arroz.jpg" alt="Bolo de arroz">
                <div class="card-body">
                    <h5 class="card-title text-center text-truncate">Bolo de arroz</h5>
                    <div class="row text-black-50 text-center">
                        <div class="col text-success">
                            <i class="fas fa-signal"></i>
                            <span>Fácil</span>
                        </div>
                        <div class="col">
                            <i class="far fa-clock"></i>
                            <span>30 min</span>
                        </div>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="receita">
            <div class="card">
                <img class="card-img-top" src="https://ichef.bbci.co.uk/food/ic/food_16x9_832/recipes/salted_dark_chocolate_16338_16x9.jpg" alt="Bolo de chocolate">
                <div class="card-body">
                    <h5 class="card-title text-center text-truncate">Bolo de chocolate</h5>
                    <div class="row text-black-50 text-center">
                        <div class="col text-warning">
                            <i class="fas fa-signal"></i>
                            <span>Médio</span>
                        </div>
                        <div class="col">
                            <i class="far fa-clock"></i>
                            <span>30 min</span>
                        </div>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="receita">
            <div class="card">
                <img class="card-img-top" src="https://images-gmi-pmc.edge-generalmills.com/817d708a-33e6-46f7-b985-0360b6c55cf4.jpg" alt="Brownies">
                <div class="card-body">
                    <h5 class="card-title text-center text-truncate">Brownies</h5>
                    <div class="row text-black-50 text-center">
                        <div class="col text-danger">
                            <i class="fas fa-signal"></i>
                            <span>Díficil</span>
                        </div>
                        <div class="col">
                            <i class="far fa-clock"></i>
                            <span>30 min</span>
                        </div>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>