@{
    ViewData["Title"] = "Ementa Semanal";
}
<h2>@ViewData["Title"]</h2>
<p>Selecione a data das receitas que pretende visualizar</p>
<form target="receitas" class="form-inline" method="get" action="@Url.Action("ReceitaSemanalReceitas", "Home")">
    <input type="date" name="semana" class="form-control mr-1"/>
    <input type="submit" value="Procurar" class="btn btn-primary"/>
</form>
<iframe name="receitas" class="w-100 border-0" style="height: 20em" src="@Url.Action("ReceitaSemanalReceitas", "Home")"></iframe>