@{
    ViewData["Title"] = "Ementa Semanal";
}
<h2>@ViewData["Title"]</h2>
<p>Selecione a data das receitas que pretende visualizar</p>

<style>
    .dropdown-placeholder.dropdown-toggle::after {
        position: absolute;
        margin: 0.655em;
        right: 0;
    }

    .horizontal-scroll {
        overflow-y: hidden;
        overflow-x: auto;
    }

    .card-img-top {
        height: 9em;
    }

    .receita {
        padding-right: 1em;
        padding-left: 1em;
    }

        .receita > .card {
            width: 16em;
        }

    .fav-icon {
        position: absolute;
        right: 0.5em;
        top: 0.5em;
    }

    .horizontal-scroll::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    .horizontal-scroll::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }

    .horizontal-scroll::-webkit-scrollbar-thumb {
        background: #e1e1e1;
        border: 0px none #000;
        border-radius: 50px;
    }

        .horizontal-scroll::-webkit-scrollbar-thumb:hover {
            background: #666;
        }

        .horizontal-scroll::-webkit-scrollbar-thumb:active {
            background: #666;
        }

    .horizontal-scroll::-webkit-scrollbar-track {
        background: transparent;
        border: 0px none #000;
        border-radius: 50px;
    }

        .horizontal-scroll::-webkit-scrollbar-track:hover {
            background: transparent;
        }

        .horizontal-scroll::-webkit-scrollbar-track:active {
            background: #ddd;
        }

    .horizontal-scroll::-webkit-scrollbar-corner {
        background: transparent;
    }
</style>

<script>
    Date.prototype.yyyymmdd = function () {
        var mm = this.getMonth() + 1; // getMonth() is zero-based
        var dd = this.getDate();

        return [this.getFullYear(),
        (mm > 9 ? '' : '0') + mm,
        (dd > 9 ? '' : '0') + dd
        ].join('-');
    };
    $(function () {
        function gerarReceita() {
            return $($("#receitaTemplate").html());
        }
        const dificuldadeTexto = [, "Fácil", "Médio", "Difícil"];
        const dificuldadeColor = [, "success", "warning", "danger"];
        $("form").on("submit", function () {
            let dataFinal = new Date($("input").val());
            dataFinal.setDate(dataFinal.getDate() + 7);
            dataFinal = dataFinal.yyyymmdd();
            $.getJSON(`/api/Utilizador/ementa/?idUt=@ViewData["idUser"]&dataInicial=${$("input").val()}&dataFinal=${dataFinal}`, (data) => {
                $("#resultadoEmentaSemanal").html("");
                for (const ementa of data) {
                    const receita = ementa.receita || ementa;
                    const ementaData = ementa.data || $("input").val();
                    let receitaElement = gerarReceita();
                    receitaElement.find(".receitaNome").text(receita.nome);
                    receitaElement.find(".receitaImagem").attr("src", receita.imagemLink);
                    receitaElement.find(".receitaDificuldade").addClass("text-" + dificuldadeColor[receita.dificuldade]);
                    receitaElement.find(".receitaDificuldadeTexto").text(dificuldadeTexto[receita.dificuldade]);
                    receitaElement.find(".receitaTempo").text(receita.tempodepreparacao);
                    receitaElement.find(".receitaLink").attr("href", `@Url.Action("Receita", "Home")/${receita.id}`);
                    receitaElement.find(".removerEmenta").data({
                        "id": ementa.id,
                        "data": ementaData
                    });
                    if ($(`.ementaRow#emeta${ementaData}`).empty()) {
                        let groupTemplate = $($("#groupTemplate").html());
                        groupTemplate.find("h2").text(new Date(ementaData).toLocaleDateString("pt-PT"));
                        window.group = groupTemplate;
                        groupTemplate.find(".ementaRow").attr("id", `emeta${ementaData}`);
                        groupTemplate.appendTo("#resultadoEmentaSemanal");
                    }
                    receitaElement.appendTo(`.ementaRow#emeta${ementaData}`);
                    $(".removerEmenta").on("click", function () {
                        const idReceita = $(this).data("id");
                        const data = $(this).data("data");
                        $.ajax({
                            url: `/api/Utilizador/ementa?idRec=${idReceita}&data=${data}`,
                            method: "DELETE",
                            success: () => {
                                const group = $(this).parents(".group-data");
                                if (group.find(".receita").length == 1) {
                                    group.remove()
                                } else {
                                    $(this).parents(".receita").remove();
                                }
                            }
                        })
                    });
                }
            });
            return false;
        });
    });
</script>

<form class="form-inline">
    <input type="date" name="semana" class="form-control mr-1" />
    <input type="submit" value="Procurar" class="btn btn-primary" />
</form>
<div id="resultadoEmentaSemanal">

</div>
<template id="groupTemplate">
    <div class="group-data mt-2">
        <h2></h2>
        <div class="container-fluid horizontal-scroll py-2">
            <div class="row flex-row flex-nowrap ementaRow">
            </div>
        </div>
    </div>
</template>
<template id="receitaTemplate">
    <div class="receita">
        <div class="card">
            <i class="fas fa-times text-danger fav-icon removerEmenta" style="z-index: 100"></i>
            <img class="card-img-top receitaImagem">
            <div class="card-body">
                <h5 class="card-title text-center text-truncate receitaNome"></h5>
                <div class="row text-black-50 text-center">
                    <div class="col receitaDificuldade">
                        <i class="fas fa-signal"></i>
                        <span class="receitaDificuldadeTexto"></span>
                    </div>
                    <div class="col">
                        <i class="far fa-clock"></i>
                        <span class="receitaTempo"></span>&nbsp;min
                    </div>
                    <a class="stretched-link receitaLink"></a>
                </div>
            </div>
        </div>
    </div>
</template>

<div class="container">
    <a asp-area="" asp-controller="Home" asp-action="ListaCompras" class="btn btn-primary mt-3">Ver lista de compras da semana</a>
</div>