@{
    //ViewData["Title"] = "Home Page";
}
<style>
    .container {
        background-color: transparent !important;
        height: 100% !important;
        margin-top: 0 !important;
        margin-bottom: -57px !important;
    }

    body {
        height: 100vh !important;
    }
</style>

<div class="row justify-content-center align-items-center h-100" id="entrar">
    <div class="col-md-4 bg-light p-3 rounded">
        <h1>Entrar</h1>
        <form method="post" action="/api/utilizador/autenticar">
            <div class="form-group">
                <label for="emailLogin">E-mail</label>
                <input type="email" required name="email" class="form-control" id="emailLogin" placeholder="Introduza e-mail">
            </div>
            <div class="form-group">
                <label for="passwordLogin">Password</label>
                <input type="password" minlength="6" required autocomplete="current-password" name="password" class="form-control" id="passwordLogin" placeholder="Password">
            </div>
            <div class="form-group">
                <a href="#registar">Não tem conta?</a>
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
        </form>
    </div>
</div>


<div class="row justify-content-center align-items-center h-100 d-none" id="registar">
    <div class="col-md-4 bg-light p-3 rounded">
        <h1>Registar</h1>
        <form method="post" action="/api/utilizador/registar">
            <div class="form-group">
                <label for="nomeRegisto">Nome</label>
                <input type="text" maxlength="60" required name="nome" autocomplete="name" class="form-control" id="nomeRegisto" placeholder="Introduza o seu nome">
            </div>
            <div class="form-group">
                <label for="emailRegisto">E-mail</label>
                <input type="email" required name="email" class="form-control" id="emailRegisto" placeholder="Introduza o seu e-mail">
            </div>
            <div class="form-group">
                <label for="dataNascimentoRegisto">Data de nascimento</label>
                <script>
                    $(() => $("#dataNascimentoRegisto").attr("max", new Date().toISOString().split("T")[0]));
                </script>
                <input type="date" required name="dataNascimento" class="form-control" id="dataNascimentoRegisto" placeholder="Introduza o seu e-mail">
            </div>
            <div class="form-group">
                <label for="passwordRegisto">Password</label>
                <input type="password" minlength="6" required name="password" class="form-control" id="passwordRegisto" placeholder="Password">
            </div>
            <div class="form-group">
                <a href="#entrar">Já tem conta?</a>
            </div>
            <button type="submit" class="btn btn-primary">Registar</button>
        </form>
    </div>
</div>

<noscript>
    <style>
        #registar {
            display: flex !important;
            margin-bottom: 50px;
        }
    </style>
</noscript>

<script>
    $(window).on('load hashchange', (e) => {
        if (location.hash == "#registar") {
            $("#registar").removeClass("d-none");
            $("#entrar").addClass("d-none")
        } else if (location.hash == "#entrar") {
            $("#entrar").removeClass("d-none");
            $("#registar").addClass("d-none");
        }
    });
</script>