@{
    ViewData["Title"] = "Lista de Compras";
}
<style>
    
    @@media print {
      #printPageButton {
        display: none;
      }
      #titlepage {
        display: none;
      }
    }

</style>

<h2 id="titlepage">@ViewData["Title"]</h2>

<script>
    var listaCompras = $.getJSON("/api/utilizador/listacompras", (data) => {
        for (var k = 0; k < data.length; k++){
            $("#ListaBody").append("<tr><th>" 
                + data[k].ingrediente.nome + "</th><td>"
                + data[k].quantidade + "</td><td>"
                + data[k].ingrediente.unidade.nome + "</td></tr>");
        }
    });

    
</script>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Ingredientes</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Unidade</th>
        </tr>
    </thead>
    <tbody id="ListaBody">     
    </tbody>
</table>

<button type="button" id="printPageButton" class="btn btn-primary" onclick="window.print();">Imprimir <i class="fas fa-print"></i></button>