@{
    ViewData["Title"] = ViewData["ReceitaNome"];
}
<script>
    $(() => {
        $.getJSON("/api/Receita/@ViewData["ReceitaId"]", (data) => {
            $("#receitaImagem").attr("src", data.info.imagemLink);
            if (data.info.videoLink) {
                $("#receitaVideo").attr("src", data.info.videoLink).on("load", () => {
                    console.log("hey");
                    $("#videoContainer").removeClass("d-none")
                });
            }

            if (data.info.porcoes == 1) {
                $("#porcoes").text("1 porção");
            } else {
                $("#porcoes").text(data.info.porcoes + " porções");
            }
            $("#preparacao").text(data.info.tempodepreparacao + " min");
            $("#cozedura").text(data.info.tempodeespera + " min");
            const dificuldadeTexto = [, "Fácil", "Médio", "Difícil"];
            const dificuldadeColor = [, "success", "warning", "danger"];
            $("#dificuldadeDiv").addClass("text-" + dificuldadeColor[data.info.dificuldade]);
            $("#dificuldade").text(dificuldadeTexto[data.info.dificuldade]);
            for (const ingrediente of data.ingredientes) {
                $("#ingredientes").append(`<li class="list-group-item px-2 py-1" data-toggle="modal" data-target="#produto" data-id="${ingrediente.id}" data-tipo="ingrediente" data-nome="${ingrediente.nome}">${ingrediente.nome} <small>${ingrediente.quantidade} ${ingrediente.unidade}</small></li>`);
            }
            for (const utensilio of data.utensilios) {
                $("#utensilios").append(`<li class="list-group-item px-2 py-1" data-toggle="modal" data-target="#produto" data-id="${utensilio.id}" data-tipo="utensilio" data-nome="${utensilio.nome}">${utensilio.nome}</li>`);
            }
            for (const passo of data.passos) {
                $("#receita").append(`<li class="list-group-item px-2 py-1">${passo.info.descricao}</small></li>`);
            }
            $("[data-target='#produto']").on("click", function () {
                $("#produtoTitle").text($(this).data("nome"));
                $("#produtoIframe").attr("src", `/Home/${$(this).data("tipo")}/${$(this).data("id")}`);
            });
        });
    });


</script>


<h2>@ViewData["ReceitaNome"]</h2>
<div class="row">
    <div class="col-lg-4 order-lg-1">
        <img class="img-fluid bg-light mb-3" id="receitaImagem" />
        <p id="descricao">Exemplo de uma descrição</p>
        <a class="btn btn-primary mb-1" href="@Url.Action("PassoAPasso", "Home", new { id = ViewData["ReceitaId"]})">Começar passo a passo</a>
        <a class="btn btn-secondary" href="#">Adicionar à ementa semanal</a>
    </div>
    <div class="col-lg-8 order-lg-0">
        <div class="row">
            <div class="col text-center">
                <span>Porções</span><br />
                <i class="fas fa-user"></i><br />
                <span id="porcoes"></span><br />
            </div>
            <div class="col text-center">
                <span>Preparação</span><br />
                <i class="fas fa-clock"></i><br />
                <span id="preparacao"></span><br />
            </div>
            <div class="col text-center">
                <span>Cozedura</span><br />
                <i class="fas fa-fire"></i><br />
                <span id="cozedura"></span><br />
            </div>
            <div class="col text-center" id="dificuldadeDiv">
                <span>Dificuldade</span><br />
                <i class="fas fa-signal"></i><br />
                <span id="dificuldade"></span><br />
            </div>
        </div>
        <div class="row m-2 d-none" id="videoContainer">
            <div class="col embed-responsive embed-responsive-16by9">
                <iframe id="receitaVideo" class="rounded embed-responsive-item" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-6">
                <h4>Ingredientes</h4>
                <ul id="ingredientes" class="list-group list-group-flush mb-1"></ul>
                <h4>Receita</h4>
                <ol id="receita" class="list-group list-group-flush mb-1"></ol>
            </div>
            <div class="col-lg-6">
                <h4>Utensílios</h4>
                <ul id="utensilios" class="list-group list-group-flush mb-1"></ul>
                <h4 class="mt-2">Tabela nutricional</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Dose</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Energia</th>
                            <td>200 Kcal</td>
                        </tr>
                        <tr>
                            <th scope="row">Gordura</th>
                            <td>10 g</td>
                        </tr>
                        <tr>
                            <th scope="row">Hidratos de carbono</th>
                            <td>10 g</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="produto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mw-100 w-75" role="document">
        <div class="modal-content" style="height: 75vh">
            <div class="modal-header">
                <h5 class="modal-title" id="produtoTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe id="produtoIframe" class="embed-responsive h-100" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>