@{
    ViewData["Title"] = ViewData["ReceitaNome"];
}
<script>
    $('.carousel').carousel({
        pause: true
    })

    $(() => {
        $.getJSON("/api/Receita/@ViewData["ReceitaId"]", (data) => {

            // porções
            if (data.info.porcoes == 1) {
                $("#porcoes").text("1 porção");
            } else {
                $("#porcoes").text(data.info.porcoes + " porções");
            }

            // tempo preparação
            $("#preparacao").text(data.info.tempodepreparacao + " min");

            // tempo cozedura
            $("#cozedura").text(data.info.tempodeespera + " min");

            // dificulade
            const dificuldadeTexto = [, "Fácil", "Médio", "Difícil"];
            const dificuldadeColor = [, "success", "warning", "danger"];
            $("#dificuldadeDiv > i").addClass("text-" + dificuldadeColor[data.info.dificuldade]);
            $("#dificuldade").text(dificuldadeTexto[data.info.dificuldade]);

            // classificação
            $("#classificacao").text(5);
            $("#estrelas").text(5);
            // TODO ir buscar class media

            // favorita
            $.getJSON("/api/utilizador/opiniao/@ViewData["ReceitaId"]", (dataFav) => {
                if (dataFav.favorito) {
                    $("#favorito").addClass("fas fa-star");
                } else {
                    $("#favorito").addClass("far fa-star");
                }
            });
            // TODO por mais bonito

            // descrição
            $("#descricao").text(data.info.descricao);

            // imagem
            $("#receitaImagem").attr("src", data.info.imagemLink);

            // vídeo
            if (data.info.videoLink) {
                $("#receitaVideo").attr("src", data.info.videoLink).on("load", () => {
                    console.log("hey");
                    $("#videoContainer").removeClass("d-none")
                });
            }


            // tabela nutricional
            $("#energiaVal").text(data.info.energia);
            $("#gorduraVal").text(data.info.gordura);
            $("#hidratosVal").text(data.info.hidratosCarbono);

            // ingredientes
            for (const ingrediente of data.ingredientes) {
                $("#ingredientes").append(`<li class="list-group-item px-2 py-1" data-toggle="modal" data-target="#produto" data-id="${ingrediente.id}" data-tipo="ingrediente" data-nome="${ingrediente.nome}">${ingrediente.nome} <small>${ingrediente.quantidade} ${ingrediente.unidade}</small></li>`);
            }

            //utensilios
            for (const utensilio of data.utensilios) {
                $("#utensilios").append(`<li class="list-group-item px-2 py-1" data-toggle="modal" data-target="#produto" data-id="${utensilio.id}" data-tipo="utensilio" data-nome="${utensilio.nome}">${utensilio.nome}</li>`);
            }

            // preparação
            for (const passo of data.passos) {
                $("#receita").append(`<li class="list-group-item px-2 py-1">${passo.info.descricao}</small></li>`);
            }
            $("[data-target='#produto']").on("click", function () {
                $("#produtoTitle").text($(this).data("nome"));
                $("#produtoIframe").css("opacity", "0").attr("src", `/Home/${$(this).data("tipo")}/${$(this).data("id")}`).on("load", function () {
                    $(this).css("opacity", "1");
                });
            });
        });
    });


</script>


<h2>@ViewData["ReceitaNome"]</h2>

<!-- Caracteristicas gerais -->
<div class="row">
    <div class="col text-center">
        <span>Porções</span><br />
        <i class="fas fa-user"></i><br />
        <span id="porcoes"></span><br />
    </div>
    <div class="col text-center">
        <span>Preparação</span><br />
        <i class="fas fa-clock"></i><br />
        <span id="preparacao"></span><br />
    </div>
    <div class="col text-center">
        <span>Cozedura</span><br />
        <i class="fas fa-fire"></i><br />
        <span id="cozedura"></span><br />
    </div>
    <div class="col text-center" id="dificuldadeDiv">
        <span>Dificuldade</span><br />
        <i class="fas fa-signal"></i><br />
        <span id="dificuldade"></span><br />
    </div>
    <div class="col text-center">
        <span>Classificação</span><br />
        <span id="estrelas"></span><br />
        <span id="classificacao"></span><br />
    </div>
    <div class="col text-center">
        <span>Minha class.</span><br />
        <span>5</span><br />
        <button type="button" class="btn btn-secondary btn-sm">Avaliar</button><br />
    </div>
    <div class="col text-center">
        <button type="button" class="btn btn-outline-primary btn-lg"><i id="favorito" class=""></i><br /></button>
    </div>
</div>

<hr />

<!-- Imagem/Vídeo | Descrição e botões -->
<div class="row">
    <div class="col-lg-8 order-lg-0">

        <!-- Imagem/Vídeo -->
        <div id="carouselIndicators" class="row my-2 mx-0 carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <!-- Imagem -->
                <div class="carousel-item active">
                    <img class="d-block img-fluid bg-light mb-3" id="receitaImagem" alt="Imagem" />
                </div>
                <!-- Vídeo -->
                <div class="carousel-item d-none" id="videoContainer">
                    <div class="col embed-responsive embed-responsive-16by9">
                        <iframe id="receitaVideo" class="rounded embed-responsive-item" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <!-- Descrição e botões -->
    <div class="col-lg-4 order-lg-1">
        <a class="btn btn-primary mb-3 w-100 mt-2" href="@Url.Action("PassoAPasso", "Home", new { id = ViewData["ReceitaId"]})">Começar passo a passo</a>
        <a class="btn btn-secondary mb-3 w-100" href="#">Adicionar à ementa semanal</a> <!-- Fazer -->
        <p id="descricao"></p>
    </div>
</div>

<hr />

<div class="row mt-2">
    <div class="col-lg-6">
        <!-- Preparação -->
        <h4>Preparação</h4>
        <ol id="receita" class="list-group list-group-flush mb-5"></ol>
        <!-- Tabela nutricional -->
        <h4>Tabela nutricional</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Dose</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Energia</th>
                    <td><span id="energiaVal"></span> Kcal</td>
                </tr>
                <tr>
                    <th scope="row">Gordura</th>
                    <td><span id="gorduraVal"></span> g</td>
                </tr>
                <tr>
                    <th scope="row">Hidratos de carbono</th>
                    <td><span id="hidratosVal"></span> g</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-lg-6">
        <!-- Ingredientes -->
        <h4>Ingredientes</h4>
        <ul id="ingredientes" class="list-group list-group-flush mb-5"></ul>

        <!-- Utensílios -->
        <h4>Utensílios</h4>
        <ul id="utensilios" class="list-group list-group-flush mb-5"></ul>
    </div>
</div>


<!-- Produto -->
<div class="modal fade" id="produto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mw-100 w-75" role="document">
        <div class="modal-content" style="height: 75vh">
            <div class="modal-header">
                <h5 class="modal-title" id="produtoTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe id="produtoIframe" class="embed-responsive h-100" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>