@{
    ViewData["Title"] = ViewData["ReceitaNome"];
}
<script>
    $('.carousel').carousel({
        pause: true
    })

    function toggleFavorita() {
        $.getJSON("/api/utilizador/opiniao/@ViewData["ReceitaId"]", (dataFav) => {
            if (dataFav.favorito) {
                $.ajax({
                    url: '/api/Utilizador/opiniao/@ViewData["ReceitaId"]',
                    type: 'PUT',
                    data: "favorito=False",
                    success: function () {
                        $("#favorito").removeClass("fas fa-star");
                        $("#favorito").addClass("far fa-star");
                    }
                });
            } else {
                $.ajax({
                    url: '/api/Utilizador/opiniao/@ViewData["ReceitaId"]',
                    type: 'PUT',
                    data: "favorito=True",
                    success: function() {
                        $("#favorito").removeClass("far fa-star");
                        $("#favorito").addClass("fas fa-star");
                    }
                });
            }
        });
    }

    function atualizarMinhaClass() {
        let input = $("#inputMinhaClass").val()
        $.ajax({
            url: '/api/Utilizador/opiniao/@ViewData["ReceitaId"]',
            type: 'PUT',
            data: "rating=" + input,
            success: function(data) {
                $("#minhaClass").text("⭐".repeat(input));

                $.getJSON("/api/Receita/opinioes/@ViewData["ReceitaId"]", (data) => {
                $("#mediaClass").text("⭐".repeat(Math.round(data.media)) + "(" + data.media + ")");
                $("#numClass").text(data.numRatings + " avaliações");
            });
            }
        });
    }


    $(() => {
        $.getJSON("/api/Receita/@ViewData["ReceitaId"]", (data) => {

            // porções
            if (data.info.porcoes == 1) {
                $("#porcoes").text("1 porção");
            } else {
                $("#porcoes").text(data.info.porcoes + " porções");
            }

            // tempo preparação
            $("#preparacao").text(data.info.tempodepreparacao + " min");

            // tempo cozedura
            $("#cozedura").text(data.info.tempodeespera + " min");

            // dificulade
            const dificuldadeTexto = [, "Fácil", "Médio", "Difícil"];
            const dificuldadeColor = [, "success", "warning", "danger"];
            $("#dificuldadeDiv > i").addClass("text-" + dificuldadeColor[data.info.dificuldade]);
            $("#dificuldade").text(dificuldadeTexto[data.info.dificuldade]);

            // classificação
            $.getJSON("/api/Receita/opinioes/@ViewData["ReceitaId"]", (data) => {
                $("#mediaClass").text("⭐".repeat(Math.round(data.media)) + "(" + data.media + ")");
                $("#numClass").text(data.numRatings + " avaliações");
            });


            $.getJSON("/api/utilizador/opiniao/@ViewData["ReceitaId"]", (dataFav) => {
                // favorita
                if (dataFav.favorito) {
                    $("#favorito").addClass("fas fa-star");
                } else {
                    $("#favorito").addClass("far fa-star");
                }
                // minha classificação
                 $("#minhaClass").text("⭐".repeat(dataFav.rating));
            });

            // descrição
            $("#descricao").text(data.info.descricao);

            // imagem
            $("#receitaImagem").attr("src", data.info.imagemLink);

            // vídeo
            if (data.info.videoLink) {
                $("#receitaVideo").attr("src", data.info.videoLink).on("load", () => {
                    console.log("hey");
                    $("#videoContainer").removeClass("d-none")
                });
            }


            // tabela nutricional
            $("#energiaVal").text(data.info.energia);
            $("#gorduraVal").text(data.info.gordura);
            $("#hidratosVal").text(data.info.hidratosCarbono);

            // ingredientes
            for (const ingrediente of data.ingredientes) {
                $("#ingredientes").append(`<li class="list-group-item px-2 py-1" data-toggle="modal" data-target="#produto" data-id="${ingrediente.id}" data-tipo="ingrediente" data-nome="${ingrediente.nome}"><a href="#produto">${ingrediente.nome}</a> <small>${ingrediente.quantidade} ${ingrediente.unidade}</small></li>`);
            }

            //utensilios
            for (const utensilio of data.utensilios) {
                $("#utensilios").append(`<li class="list-group-item px-2 py-1" data-toggle="modal" data-target="#produto" data-id="${utensilio.id}" data-tipo="utensilio" data-nome="${utensilio.nome}"><a href="#produto">${utensilio.nome}</a></li>`);
            }

            // preparação
            for (const passo of data.passos) {
                $("#receita").append(`<li class="list-group-item px-2 py-1">${passo.info.descricao}</small></li>`);
            }
            $("[data-target='#produto']").on("click", function () {
                $("#produtoTitle").text($(this).data("nome"));
                $("#produtoIframe").css("opacity", "0").attr("src", `/Home/${$(this).data("tipo")}/${$(this).data("id")}`).on("load", function () {
                    $(this).css("opacity", "1");
                });
            });
        });
    });


</script>


<h2>@ViewData["ReceitaNome"]</h2>

<!-- Caracteristicas gerais -->
<div class="row">
    <!-- Porções -->
    <div class="col text-center">
        <span>Porções</span><br />
        <i class="fas fa-user"></i><br />
        <span id="porcoes"></span><br />
    </div>
    <!-- Tempo de preparação -->
    <div class="col text-center">
        <span>Preparação</span><br />
        <i class="fas fa-clock"></i><br />
        <span id="preparacao"></span><br />
    </div>
    <!-- Tempo de cozedura -->
    <div class="col text-center">
        <span>Cozedura</span><br />
        <i class="fas fa-fire"></i><br />
        <span id="cozedura"></span><br />
    </div>
    <!-- Dificuldade -->
    <div class="col text-center" id="dificuldadeDiv">
        <span>Dificuldade</span><br />
        <i class="fas fa-signal"></i><br />
        <span id="dificuldade"></span><br />
    </div>
    <!-- Classificação média -->
    <div class="col text-center">
        <span>Classificação</span><br />
        <span id="mediaClass"></span><br />
        <span id="numClass"></span><br />
    </div>
    <!-- Minha classificação -->
    <div class="col text-center">
        <span>Minha class.</span><br />
        <span id="minhaClass"></span><br />
        <a data-toggle="modal" data-target="#avaliarModal" href="#avaliarModal">Avaliar</a><br />
    </div>
    <!-- Botão toggle favorito -->
    <div class="col text-center">
        <button type="button" class="m-3 btn btn-outline-warning btn-lg" onclick="toggleFavorita()"><i id="favorito" class=""></i><br /></button>
    </div>
</div>

<hr />

<!-- Imagem/Vídeo | Descrição e botões -->
<div class="row">
    <!-- Imagem/Vídeo -->
    <div class="col-lg-8 order-lg-0">
        <div id="carouselIndicators" class="row my-2 mx-0 carousel slide" data-ride="carousel" data-interval="false">
            <ol class="carousel-indicators">
                <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <!-- Imagem -->
                <div class="carousel-item active">
                    <img class="d-block img-fluid bg-light mb-3" id="receitaImagem" alt="Imagem" />
                </div>
                <!-- Vídeo -->
                <div class="carousel-item d-none" id="videoContainer">
                    <div class="col embed-responsive embed-responsive-16by9">
                        <iframe id="receitaVideo" class="rounded embed-responsive-item" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <!-- Descrição | Começar passo a passo | Adicionar à ementa semanal -->
    <div class="col-lg-4 order-lg-1">
        <a class="btn btn-primary mb-3 w-100 mt-2" href="@Url.Action("PassoAPasso", "Home", new { id = ViewData["ReceitaId"]})">Começar acompanhamento passo a passo</a>
        <a class="btn btn-secondary mb-3 w-100" data-toggle="modal" data-target="#ementaSemanal" href="#ementaSemanal">Adicionar à ementa semanal</a>
        <p id="descricao"></p>
    </div>
</div>

<hr />

<!-- Preparação | Tabela nutricional | Ingredientes | Utensílios -->
<div class="row mt-2">
    <!-- Preparação | Tabela nutricional -->
    <div class="col-lg-6">
        <!-- Preparação -->
        <h4>Preparação</h4>
        <ol id="receita" class="list-group list-group-flush mb-5"></ol>
        <!-- Tabela nutricional -->
        <h4>Tabela nutricional</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Dose</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Energia</th>
                    <td><span id="energiaVal">...</span> Kcal</td>
                </tr>
                <tr>
                    <th scope="row">Gordura</th>
                    <td><span id="gorduraVal">...</span> g</td>
                </tr>
                <tr>
                    <th scope="row">Hidratos de carbono</th>
                    <td><span id="hidratosVal">...</span> g</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Ingredientes | Utensílios -->
    <div class="col-lg-6">
        <!-- Ingredientes -->
        <h4>Ingredientes</h4>
        <ul id="ingredientes" class="list-group list-group-flush mb-5"></ul>

        <!-- Utensílios -->
        <h4>Utensílios</h4>
        <ul id="utensilios" class="list-group list-group-flush mb-5"></ul>
    </div>
</div>

<!-- Modal Ingrediente/Utensílio -->
<div class="modal fade" id="produto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mw-100 w-75" role="document">
        <div class="modal-content" style="height: 75vh">
            <div class="modal-header">
                <h5 class="modal-title" id="produtoTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe id="produtoIframe" class="embed-responsive h-100" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>

<!-- Modal avaliar receita -->
<div class="modal fade" id="avaliarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Minha classificação da receita</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="m-2">
                        <input type="number" min="0" max="5" class="form-control" id="inputMinhaClass">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" onclick="atualizarMinhaClass()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Ementa Semanal -->
<div class="modal fade" id="ementaSemanal" tabindex="-1" role="dialog" aria-hidden="true">
    <script>
        $(() => {
            $("#guardarEmentaSemanal").on("click", () => {
                $.post("/api/Utilizador/ementa", $("#ementaSemanalForm").serialize()).fail(() => alert("Não foi possível adicionar à ementa semanal. Tente mais tarde."))
            })
        });
    </script>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adicionar à ementa semanal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="ementaSemanalForm">
                    <input type="hidden" name="idRec" value="@ViewData["ReceitaId"]" />
                    <input id="dataEmentaSemanal" type="date" name="data" class="form-control" required />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button id="guardarEmentaSemanal" type="button" class="btn btn-success" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>