@{
    ViewData["Title"] = "Sobre os meus cozinhados";
}
<h2>@ViewData["Title"]</h2>

<script>
    $(function () {
        $.getJSON("/api/Utilizador/receitasExecutadas", (data) => {
            console.log(data);
            if (data.length == 0) {
                $("#receitas").after("<center>Não existe receitas</center>");
            }
            for (const receita of data) {
                var newLine = `<tr><td>${new Date(receita.lastDate).toLocaleDateString("pt-PT")}</td><td>${receita.receita.nome}</td><td>${receita.numerodevezes}</td><td>${receita.tempodepreparacao} min</td><td>${receita.tempoexecucao} min</td></tr>`;
                $(newLine).appendTo("#receitas tbody")
            }
        });
        $.getJSON("/api/Utilizador/ingredientesUsados", (data) => {
            console.log(data);
            if (data.length == 0) {
                $("#ingredientes").after("<center>Não existe ingredientes</center>");
            }
            for (const ingrediente of data) {
                var newLine = `<tr><td>${ingrediente.ingrediente.nome}</td><td>${ingrediente.numerodeVezes}</td></tr>`;
                $(newLine).appendTo("#ingredientes tbody")
            }
        });
        $.getJSON("/api/Utilizador/tagsUsadas", (data) => {
            console.log(data);
            if (data.length == 0) {
                $("#etiquetas").after("<center>Não existe etiquetas</center>");
            }
            for (const tag of data) {
                var newLine = `<tr><td>${tag.tag.tag1}</td><td>${tag.numerodeVezes}</td></tr>`;
                $(newLine).appendTo("#etiquetas tbody")
            }
        });
    });
</script>

<h3>Histórico de receitas realizadas</h3>
<table class="table table-striped" id="receitas">
    <thead>
        <tr>
            <th scope="col">Data</th>
            <th scope="col">Receita</th>
            <th scope="col">Número de realizações</th>
            <th scope="col">Tempo previsto</th>
            <th scope="col">Tempo de execução</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div class="row">
    <div class="col-lg-6">
        <h3>Etiquetas</h3>
        <table class="table table-striped" id="etiquetas">
            <thead>
                <tr>
                    <th scope="col">Etiqueta</th>
                    <th scope="col">#</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="col-lg-6">
        <h3>Ingredientes</h3>
        <table class="table table-striped" id="ingredientes">
            <thead>
                <tr>
                    <th scope="col">Ingrediente</th>
                    <th scope="col">#</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>