@{
    ViewData["Title"] = "Sobre os meus cozinhados";
}
<h2>@ViewData["Title"]</h2>

<h3>Histórico de receitas realizadas</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Data</th>
            <th scope="col">Receita</th>
            <th scope="col">Número de realizações</th>
            <th scope="col">Tempo previsto</th>
            <th scope="col">Tempo de execução</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>3</td>
            <td>Otto</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>2</td>
            <td>Thornton</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>1</td>
            <td>the Bird</td>
            <td></td>
        </tr>
    </tbody>
</table>
<div class="row">
    <div class="col-lg-6">
        <h3>Etiquetas</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Etiqueta</th>
                    <th scope="col">#</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-6">
        <h3>Ingredientes</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Ingrediente</th>
                    <th scope="col">#</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>